.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input {
    width: 350px;
    font-size: larger;
    background-color: gainsboro;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 00 4px;
    border: 2px solid black;
    outline: none;
}

.tarea-boton {
    padding: 16px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: aquamarine;
    color: black;
    text-transform: capitalize;
}

@media (max-width:800px){
    .tarea-boton {
        margin: 18px;
        border-radius: 10px;
    }
}

@media (max-width:600px){
    .tarea-input {
        font-size: medium;
    }
}

@media (max-width:360px){
    .tarea-input {
        width: 95%;
        font-size: small;
    }
}